@model Yackimo.Models.Message

@{
    ViewBag.Title = "Compose";
}

<h2>Compose</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        @Html.HiddenFor(model => model.SenderName)
        @Html.HiddenFor(model => model.UserId)

        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}
