@model IPagedList<Product>

<div id="productList">
    <div class="pagedList" data-otf-target="#productList">
        @Html.PagedListPager(Model, page => Url.Action("PublicList", new { page }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    @foreach (var item in Model)
    {
        <div class="product">
            <h4>@Html.ActionLink(item.Name, "Details", new { id = item.ProductId })
                - @Html.DisplayFor(modelItem => item.Description)
            </h4>

            <p>
                subcategory - @Html.ActionLink(item.Category, "Search", "Home", new { searchTerm = item.Category }, null)
            </p>

            @*
            Product Picture
        *@
            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                <img width="75" height="75"
                src="@Url.Action("GetImage", "Product", new { id = item.ProductId })" />
            </a>
        </div>
    }

    <div class="pagedList" data-otf-target="#productList">
        @Html.PagedListPager(Model, page => Url.Action("PublicList", new { page }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
