<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Yackimo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @*<p class="site-title">@Html.ActionLink("Yackimo", "Index", "Home")</p>*@
                @*@Html.Partial("_SearchFilter")*@
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Products", "Index", "Product")</li>
                        <li>@Html.ActionLink("My Profile", "Index", "Profile")</li>*@

                        @if(WebSecurity.IsAuthenticated)
                        {
                            <a href="~/Messages/Index">@Html.Action("Notify", "Messages", null)</a>                            
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Yackimo</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/otf")
    @RenderSection("scripts", required: false)
</body>
</html>
